@model WebApplication1.Data.Models.AccountingViewModel.Filter
@{
    ViewData["Title"] = "ViewJournals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<style>
    .First {
        margin-top: 200px;
        display: table-row;
    }

        .First > .addedOn2 {
            display: none;
        }

    .btn-primary{
                background-color: green !important;
            border-color: green !important;
    }
    .Repeat {
    }

        .Repeat > .addedOn, .Repeat > .details {
            display: none;
        }

        .Repeat > .addedOn2 {
            display: block;
        }

    .spacer {
        height: 100px;
    }
    .dropdown-menu{
        max-height:350px !important;
        overflow: auto;
    }

</style>
<h2>ViewJournals</h2>

<p>
    <a style="width:150px; margin-right:20px" class="btn btn-primary" href="/chartofaccounts/Journalizing"> Create Journal</a>
    @if (ViewBag.PrevPage != null)
    {
        <a style="width:150px; margin-right:20px" class="btn btn-primary" href="/chartofaccounts/viewjournals?page=@ViewBag.PrevPage&posted=@ViewBag.PostedOnly&query=@ViewBag.Query@ViewBag.DateSortParm  "> Previous Page</a>
    }
    @if (ViewBag.NextPage != null)
    {
        <a style="width:150px; margin-right:20px" class="btn btn-primary" href="/chartofaccounts/viewjournals?page=@ViewBag.NextPage&posted=@ViewBag.PostedOnly&query=@ViewBag.Query&sortOrder=@ViewBag.DateSortParm "> Next Page</a>
    }
    @if (ViewBag.PostedOnly != true)
    {
        <a style="width:150px; margin-right:20px" class="btn btn-primary" href="/chartofaccounts/submitall"> Submit All Journals</a>
        @if (ViewBag.UserType == 1 || ViewBag.UserType == 2)
        {
            <a style="width:150px; margin-right:20px" class="btn btn-primary" href="/chartofaccounts/post?all=true"> Post All Journals</a>
        }
    }
</p>
<form asp-action="ViewJournals" method="get">
    <div id="FilterDiv">
        <div class="form-group" style="display:inline-block; width:130px">
            <label for="JournalIDFilter"> Journal ID:</label>
            <input asp-for="JournalID" class="form-control" id="JournalIDFilter" />
        </div>
        <div class="form-group" style="display:inline-block">
            <label  style="display:block" for="AccountNameFilter"> Account Name:</label>
            @Html.DropDownList("AccountName", (IEnumerable<SelectListItem>)ViewBag.AvailableAccounts, "Select account", new { @class = "selectpicker"})
            @*<input asp-for="AccountName" class="form-control" id="AccountNameFilter" style="display:none"/>*@
        </div>
        <div class="form-group" style="display:inline-block">
            <label for="DebitValueFilter"> Debit Value:</label>
            <input asp-for="DebitValue" class="form-control" id="DebitValueFilter" />
        </div>
        <div class="form-group" style="display:inline-block">
            <label for="CreditValueFilter"> Credit Value:</label>
            <input asp-for="CreditValue"  class="form-control" id="CreditValueFilter" />
        </div>
        <div class="form-group" style="display:inline-block">
            <label for="StatusFilter" style="display: block;"> Status:</label>
            <select asp-for="Status" id="StatusFilter" class="selectpicker">
                <option value="Submitted"> Submitted </option>
                <option value="Rejected"> Rejected </option>
                <option value="Posted"> Posted </option>
            </select>
        </div>
        <button class="btn btn-primary" style="color:lightgreen"> Filter </button>
        <a href="/ChartOfAccounts/ViewJournals?Status=Submitted" class="btn btn-primary" style="color:lightgreen"> Un-Filter </a>
    </div>
</form>


    <table class="table" style="margin-bottom: 0px; width: 1140px;">
        <thead>
            <tr>
                <th style="width:100px;">
                    <a href="/chartofaccounts/ViewJournals?sortOrder=@ViewBag.JournalIDSortParm&query=@ViewBag.Query"> Journal ID</a>
                   
                </th>
                <th style="width:100px">
                    Date
                </th>
                <th style="width:200px;">
                    Account Name
                </th>
                <th style="width:30px">

                </th>
                <th style="width:100px;text-align: right;">
                    Debit
                </th>
                <th style="width:60px">

                </th>
                <th style="width:100px;text-align: right;">
                    Credit
                </th>
                <th style="width:500px; text-align:center">
                    Actions
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
    @{ int j = 0; int colors = 0; int v = 0; int journalId = 0;
        @foreach (var item in ViewBag.Transactions)
        {
            int i = 0;
            <table class="table" style="margin-bottom: 0px; width: 1140px;">
                <tbody style="border-top:1px solid black">

                    @foreach (var iteminside in item.Items)
                    {
                        journalId = iteminside.JournalId;
                        <tr class=@(@iteminside.isDebit ? "success" : "danger" )>
                            <td style="display:none"></td>
                            <td class="addedOn" style="width:100px;">
                                @if (i == 0)
                                {
                                    <a href="/chartofaccounts/journalizing?viewonly=true&journalid=@iteminside.JournalId">  @iteminside.JournalId </a>
                                }
                            </td>
                            <th style="width:100px">
                                @if(i == 0){
                                     @iteminside.AddedOn.Date.ToString("d")
                                }
                            </th>
                            <td class="addedOn2" style="width:260px;">
                                @if (!iteminside.isDebit)
                                {
                                    <a href="/chartofaccounts/accountdetails?accountname=@iteminside.AccountName"> <p>&nbsp; &nbsp; &nbsp; @iteminside.AccountName</p>  </a>
                                }
                                else
                                {
                                    <a href="/chartofaccounts/accountdetails?accountname=@iteminside.AccountName"><p>@iteminside.AccountName</p> </a>
                                }
                            </td>
                            <td style="width:30px">
                                $
                            </td>
                            <td style="width:100px; text-align: right;">
                                @if (iteminside.isDebit)
                                {
                                    @if (ViewBag.Color[colors] == true)
                                    {
                                        <p style="color: green"> @Convert.ToDecimal(iteminside.Value).ToString("#,##0.00")</p>
                                    }
                                    else
                                    {
                                        <p style="color: red"> @Convert.ToDecimal(iteminside.Value).ToString("#,##0.00") </p>
                                    }
                                    colors++;
                                }
                            </td>
                            <td style="width:60px;text-align:right">
                                $
                            </td>
                            <td style="width:100px; text-align: right;">
                                @if (!iteminside.isDebit)
                                {
                                    @if (ViewBag.Color[colors] == true)
                                    {
                                        <p style="color: green"> @Convert.ToDecimal(iteminside.Value).ToString("#,##0.00")</p>
                                    }
                                    else
                                    {
                                        <p style="color: red"> @Convert.ToDecimal(iteminside.Value).ToString("#,##0.00") </p>
                                    }
                                    colors++;
                                }
                            </td>

                            <td class="details" style=@(i == 0 ?"margin-left:30px;text-align:left;width:550px" :  "margin-left:30px;text-align:right;width:550px") >
                                @if (ViewBag.PostedOnly != true)
                                {

                                    @if (i == 0)
                                    {
                                        @if (ViewBag.Submit[j] == 4)
                                        {
                                            <p class="alert-success"> APPROVED & POSTED </p>
                                        }
                                        else if (ViewBag.Submit[j] == 3)
                                        {
                                            <p style="display:inline-block;color:red"> REJECTED! </p>
                                            <button class="btn-primary btn-xs" value="/chartofaccounts/submitall?journalid=@iteminside.JournalId" onclick="go(this.value,false)"> Resubmit  </button>
                                            <button class="btn-primary btn-xs" value="/chartofaccounts/journalizing?journalid=@iteminside.JournalId" onclick="go(this.value,false)"> Edit </button>
                                            <button class="btn-primary btn-xs" value="/chartofaccounts/delete?journalid=@iteminside.JournalId" onclick="go(this.value,false)"> Delete </button>
                                            <p> Reason for reject: @ViewBag.Reasons[j] </p>
                                        }
                                        else if (ViewBag.Submit[j] == 2)
                                        {
                                            if (ViewBag.UserType == 2 || ViewBag.UserType == 1)
                                            {
                                                <p style="display:inline-block" class=""> Submitted! Ready for approval. </p>
                                                <button class="btn-primary btn-xs" value="/chartofaccounts/post?journalid=@iteminside.JournalId" onclick="go(this.value,false)"> Post </button>
                                                <button class="btn-primary btn-xs" value="/chartofaccounts/reject?journalid=@iteminside.JournalId" onclick="go(this.value,true)"> Reject </button>
                                                <button class="btn-primary btn-xs" value="/chartofaccounts/journalizing?journalid=@iteminside.JournalId" onclick="go(this.value,false)"> Edit </button>
                                                <button class="btn-primary btn-xs" value="/chartofaccounts/delete?journalid=@iteminside.JournalId" onclick="go(this.value,false)"> Delete </button>
                                            }
                                            else
                                            {
                                                <p style="display:inline-block" class=""> Submitted! Waiting for approval. </p>
                                                <button class="btn-primary btn-xs" value="/chartofaccounts/journalizing?journalid=@iteminside.JournalId" onclick="go(this.value,false)"> Edit </button>
                                                <button class="btn-primary btn-xs" value="/chartofaccounts/delete?journalid=@iteminside.JournalId" onclick="go(this.value,false)"> Delete </button>
                                            }
                                        }
                                        else
                                        {
                                            <button class="btn-primary btn-xs" value="/chartofaccounts/submitall?journalid=@iteminside.JournalId" onclick="go(this.value,false)"> Submit </button>
                                            <button class="btn-primary btn-xs" value="/chartofaccounts/journalizing?journalid=@iteminside.JournalId" onclick="go(this.value,false)"> Edit </button>
                                            <button class="btn-primary btn-xs" value="/chartofaccounts/delete?journalid=@iteminside.JournalId" onclick="go(this.value,false)"> Delete </button>
                                        }
                                    }

                                }
                                @if (i == 1)
                                { 
                                    @if(ViewBag.FilesCount[j] > 0)
                                    {
                                        <a class="" value="@iteminside.JournalId" onclick="getData(this)" style="text-align: right;"> View/Download <b> @ViewBag.FilesCount[j] </b> uploaded documents</a>
                                    }
                                    else
                                    {
                                        <p style="text-align: right;"> No uploaded documents</p>

                                    }
                                }
                            </td>
                            <td style="width:50px"></td>
                        </tr>
                        @if (ViewBag.Transactions.IndexOf(item) == ViewBag.Transactions.Count)
                        {
                        }
                        i++;
                    }
                    <tr>
                        <td colspan="3" style="width:460px">
                            <form style="margin-bottom:0px; padding-bottom: 50px;" method="post" asp-action="SaveFile" asp-controller="ChartOfAccounts" asp-route-journalId=@journalId enctype="multipart/form-data">
                                <b style="display:inline-block"> Upload </b>
                                <input style="display:inline-block;width:230px" type="file" name="files" multiple />
                                <input style="color: black;" type="submit" value="Upload" />
                            </form>
                        </td>
                        <td style="width:30px">$ </td>
                        <td style="width:100px;text-align: right;"><p> @Convert.ToDecimal(ViewBag.Totals[(j * 2)]).ToString("#,##0.00") </p></td>
                        <td style="width:60px;text-align: right;">$ </td>
                        <td style="width:100px;text-align: right;"><p> @Convert.ToDecimal(ViewBag.Totals[(j * 2) + 1]).ToString("#,##0.00") </p> </td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
            j++;
        }
    }
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p> Download uploaded documents</p>
                <table border="1" id="TableDocs">
                        <!--
                            <tr>
                            <td>name</td>
                            <td>Html.ActionLink("Download", "Download", "ChartOfAccounts", new { fileName = fd.Name }, new { target = "_blank" })</td>
                            <td> <a href="/chartofaccounts/download?fileName=name"> </a>   </td>                  
                        </tr>
                            -->
                </table>
            </div>
            <div class="modal-footer alert-success">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
    @section Scripts {

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <script>
            function go(value, reject) {
                if (reject) {
                    var reason = prompt("Please enter a reason for refusing the journal entry!", "empty");
                    if (reason != null) {
                        value = value + "&reason=" + reason;
                    }
                }
                window.location.href = value;

            }
            function getData(thiss) {
                var journalId = $(thiss).attr("value")
                $.ajax({
                    url: '/ChartOfAccounts/getFiles',
                    type: 'POST',
                    data: { journalId: journalId },
                    success: function (data) {
                        data.forEach(function (item) {
                            var text = "<tr><td> <a href='/chartofaccounts/download?fileName=" + item.name + "'>" + item.name + "</a></td></tr>"
                            $("#TableDocs").append(text)
                            $('#myModal').modal("show");
                        })
                    }
                });
            }
            $('.selectpicker').selectpicker({
                style: 'btn-info',
                size: 4
            });
            $("#Accounts").on('change', function () {
                var selected = $(this).find("option:selected").val();
                $("#AccountNameFilter").val(selected);
            });
        </script>
    }
