@{
    ViewData["Title"] = "ViewAccounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<style>
    td{
            border-right: 1px solid gray;
    }
    .red{
        color:red !important
    }
    .green {
        color: green !important
    }
</style>
<h2>View Accounts</h2>
<div id="errorholder" class="error" style="display:none;">
    <div class="alert alert-danger">
        <strong>Error!</strong> This account cannot be deactivated because it has been used in journalizing.
    </div>
</div>
<div style="text-align:center">
    <hr />
    <table style="width:1200px" class="table table-hover table-bordered">
        <tr style="">
            <td style="width: 250px; padding-left: 10px;">
                <p> Account Name</p>
            </td>
            <td style="width: 100px; padding-left: 10px;">
                <p> Added On</p>
            </td>
            <td style="width: 200px; padding-left: 10px;">
                <p> Added By</p>
            </td>
            <td style="width: 150px; padding-left: 10px;">
                <p> Status</p>
            </td>
            <td style="width: 150px; padding-left: 10px;">
                <p> Toggle (De)Activation</p>
            </td>
        </tr>
        @foreach (var model in ViewBag.Accounts.Items)
        {
        <tr style="border: 1px solid gray;">
            <td style="width: 250px; padding-left: 10px;">
                <a href="/chartofaccounts/accountdetails?accountname=@(model.AccountName)"> <b> @Html.Encode(model.AccountName) </b>   </a>
            </td>
            <td style="width: 100px; padding-left: 10px;">
                @Html.Encode(model.AddedOn.Date.ToString("d"))
            </td>
            <td style="width: 200px; padding-left: 10px;">
                @Html.Encode(model.AddedBy)
            </td>
            <td style="width: 150px; padding-left: 10px;">
                @if (model.isActive)
                {
                    <p style="color:green"> Active </p>
                }
                else
                {
                    <p style="color:red"> Inactive </p>
                }
            </td>
            <td style="width: 150px; padding-left: 10px;">
                @if (model.isActive)
                {
                    <p style="color:red"> @Html.ActionLink("Deactivate", "ToggleActive", "ChartOfAccounts", new { id = model.AccountName }, new {@class = "red" }) </p>
                }
                else
                {
                    <p style="color:green"> @Html.ActionLink("Activate", "ToggleActive", "ChartOfAccounts", new { id = model.AccountName }, new { @class = "green" }) </p>
                }

            </td>
         </tr>
        }
    </table>

</div>


@section Scripts {
    @{
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <script>
            $(document).ready(function() {
                var success = @((TempData["UnpostedJournals"] != null).ToString().ToLower());
                    if (success == true) {
                        $("#errorholder").css("display","block")
                    }
            });

            $('#myModal').modal("show");
            $("#AvailableAccounts").change(function () {
                $.ajax({
                    url: '/ChartOfAccounts/GetData',
                    type: 'POST',
                    data: { AccountName: this.value },
                    success: function (data) { }
                })
            })
           function toggleActivation(accname){
               alert(accname)
            
            }
      </script>
}}

